<html ng-app="cbApp">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>

        <title>@ViewBag.Title</title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />

        <script src="~/angular-app/cbApp.js"></script>
        <script type="text/javascript" src="~/Scripts/ng-grid.min.js"></script>


        @RenderSection("headSection", required: false)
    </head>
    <body>
                

@*        <div class="container" ng-show="showMainMenu.show">
            @if (IsSectionDefined("HideNavBarLinks") == false)
            {
                @Html.Partial("~/Views/Shared/_NavBar.cshtml", true)
            }
            else
            {
                @Html.Partial("~/Views/Shared/_NavBar.cshtml", false)
                @RenderSection("HideNavBarLinks")
            }
        </div>  *@          

        @RenderBody()

        @RenderSection("scripts", required: false)

    </body>
</html>